$Autosave-dirty: #f7a616;

.AutosaveInput {
	display: block;
	width: 100%;
	font-family: sans-serif;
	resize: vertical;

	&--dirty {
		border-color: $Autosave-dirty;
		outline-color: $Autosave-dirty;
	}
}
