@use 'sass:math';
@import '../breakpoints';
@import '../theme';

.Header {
	width: 100%;
	padding: $Theme-spacing--small;
	background: $Theme-background--grey;

	&-header {
		display: flex;
		align-items: center;

		@include breakpoint(xs) {
			width: percentage(math.div(12, 12));
		}
		@include breakpoint(sm) {
			width: percentage(math.div(10, 12));
			margin-left: percentage(math.div(1, 12));
		}
		@include breakpoint(md) {
			width: percentage(math.div(8, 12));
			margin-left: percentage(math.div(2, 12));
		}
		@include breakpoint(lg) {
			width: percentage(math.div(6, 12));
			margin-left: percentage(math.div(3, 12));
		}
	}

	&-img {
		vertical-align: middle;
	}

	&-form {
		position: relative;
	}
}
