@import '../theme';

.Header {
	padding: $Theme-spacing--small;
	background: $Theme-background--grey;

	&-header {
		display: flex;
		align-items: center;
	}

	&-img {
		vertical-align: middle;
	}

	&-form {
		position: relative;
	}
}
