@import '../theme';

.SelectBar {
	&-button {
		border: $Theme-borderWidth solid transparent;
		border-radius: $Theme-borderRadius--small;

		&--active {
			border: $Theme-borderWidth solid;
		}
	}
}
