@import '../theme';

.StorageEdit {
	&-showTextarea {
		border-radius: $Theme-borderRadius--small;

		&--active {
			outline: $Theme-borderWidth solid;
		}
	}

	&-textarea {
		width: 100%;
		font-family: monospace;
		overflow-y: scroll;
		resize: vertical;
	}
}
