@import '../functions';

$CompactTable-base: #fff;
$CompactTable-stripe: #eee;
$CompactTable-hover: #ddd;
$CompactTable-border: #e5e3da;

.CompactTable {
	$root: &;

	width: 100%;
	font-size: 13px;

	p {
		margin: 0;
	}

	tr {
		background-color: $CompactTable-base;
	}

	td,
	th {
		padding: 4px 9px;

		border: 1px solid $CompactTable-border;
		border-top-width: 0;
		border-bottom-width: 0;

		font-size: 1em;
		line-height: 1.4285714285714286em;

		&:first-of-type {
			border-left-width: 0;
		}

		&:last-of-type {
			border-right-width: 0;
		}
	}

	th {
		border-bottom-width: 2px;
	}

	&--stripe {
		tbody tr:nth-of-type(odd) {
			background-color: $CompactTable-stripe;
		}
	}

	&--hover {
		tbody tr:hover {
			background-color: $CompactTable-hover;
		}
	}

	&--align {
		td,
		th {
			// custom alignments for the main item table
			&:nth-of-type(1),
			&:nth-of-type(3),
			&:nth-of-type(4),
			&:nth-of-type(5),
			&:nth-of-type(7),
			&:nth-of-type(8),
			&:nth-of-type(9) {
				text-align: center;
			}

			// fixed width for thumbnail column to avoid resizing as images load
			&:nth-of-type(1) {
				min-width: 70px;
			}
		}
	}

	&-item {
		cursor: default;
		user-select: none;

		&--autowrap {
			$height: 1.6em;
			$width: 25%;

			&:not(:hover) {
				max-height: $height;
				overflow: hidden;
				word-break: break-all;

				p {
					position: relative;

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: $height;
						left: calc(100% - #{$width});
						background: fade-in($CompactTable-base);
						content: '';
						pointer-events: none;

						#{$root}--stripe tr:nth-of-type(odd) & {
							background: fade-in($CompactTable-stripe);
						}

						#{$root}--hover tr:hover & {
							background: fade-in($CompactTable-hover);
						}
					}
				}
			}
		}

		&--truncate {
			$width: 350px;

			max-width: $width;

			p {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		&--nowrap {
			white-space: nowrap;
		}

		&--small {
			font-size: smaller;
		}
	}

	&-tinyThumbnail {
		max-width: 52px; // + 18px padding = 70px width (per --align above)
		max-height: 20px;
		margin-top: -8px;
		margin-bottom: -6px;
	}
}
