a[href='#info'] { // scss-lint:disable QualifyingElement
	float: right;
	color: inherit;
	font-size: x-small;
	text-decoration: none;
	cursor: default;

	&:not(:last-of-type)::before {
		content: ', ';
	}
}
