{
	"presets": ["react"],
	"plugins": [
		"transform-decorators-legacy",
		"transform-function-bind",
		"transform-export-extensions",
		"transform-class-properties",
		["transform-object-rest-spread", { "useBuiltIns": true }],
		"transform-async-generator-functions",
		"transform-async-to-generator",
		"transform-es2015-modules-commonjs"
	],
	"env": {
		"dev": {
			"plugins": [
				"./babelRelayPlugin",

				"transform-decorators-legacy",
				"transform-function-bind",
				"transform-export-extensions",
				"transform-class-properties",
				["transform-object-rest-spread", { "useBuiltIns": true }],
				"transform-async-generator-functions",
				"transform-async-to-generator",
				"transform-es2015-modules-commonjs",

				"transform-dead-code-elimination",
				"transform-node-env-inline",
				"lodash"
			]
		},
		"production": {
			"plugins": [
				["./babelRelayPlugin", { "enforceSchema": true }],

				"transform-decorators-legacy",
				"transform-function-bind",
				"transform-export-extensions",
				"transform-class-properties",
				["transform-object-rest-spread", { "useBuiltIns": true }],
                "transform-async-generator-functions",
                "transform-async-to-generator",
                "transform-es2015-modules-commonjs",

                "transform-dead-code-elimination",
                "transform-node-env-inline",
                "lodash",

				"transform-react-constant-elements",
				"transform-react-inline-elements"
			]
		}
	}
}
