@use 'sass:math';
@import '../breakpoints';
@import '../theme';

.Providers {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&-list {
		padding: $Theme-spacing--medium;

		@include breakpoint(xs) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(sm) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(md) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(lg) {
			width: percentage(math.div(5, 12));
			margin-left: percentage(math.div(1, 12));
		}
	}

	&-test {
		padding: $Theme-spacing--medium;

		@include breakpoint(xs) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(sm) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(md) {
			width: percentage(math.div(6, 12));
		}
		@include breakpoint(lg) {
			width: percentage(math.div(5, 12));
		}
	}
}
