@import 'components/AutosaveInput';
@import 'components/CenteredColumn';
@import 'components/Floating';
@import 'components/Header';
@import 'components/ItemRefreshButton';
@import 'components/ItemThumbnail';
@import 'components/ItemView';
@import 'components/LinkButton';
@import 'components/PopupInfo';
@import 'components/Provider';
@import 'components/SearchList';
@import 'components/SelectBar';
@import 'components/SidebarItem';
@import 'components/StorageEdit';
@import 'containers/Items';
@import 'containers/Search';
@import 'containers/Sidebar';
@import 'modules/CompactTable';
@import 'modules/ItemTags';
@import 'modules/Utils';

* { // sass-lint:disable-line no-universal-selectors
	box-sizing: border-box;
}

body {
	min-width: 400px;
	font-family: Arial, sans-serif;
}

fieldset {
	min-width: auto;
	margin: 0 2px 2px 2px;
	overflow-x: hidden;
}
